<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.1.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd"
       default-autowire="byName">

    <bean class = "org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <array>
                <bean class = "org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="supportedMediaTypes" value = "text/plain;charset=UTF-8" />
                </bean>
            </array>
        </property>
    </bean>

    <!-- 启动注解驱动的Spring MVC功能，注册请求url和注解POJO类方法的映射-->
    <mvc:annotation-driven ></mvc:annotation-driven>
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 先匹配所有路径，然后排除不需要检查的路径 -->
            <mvc:mapping path="/**"/>

            <mvc:exclude-mapping path="/api/StudentClass/*"/>
            <!-- 与登录相关的请求 -->
            <!--<mvc:exclude-mapping path="/*.jsp"/>-->
            <!--<mvc:exclude-mapping path="/student/login.action"/>-->
            <!--<mvc:exclude-mapping path="/student/register.action"/>-->

            <!-- 以下是静态资源 -->
            <!--<mvc:exclude-mapping path="/images/**" />-->
            <!--<mvc:exclude-mapping path="/css/**" />-->
            <!--<mvc:exclude-mapping path="/font/**" />-->
            <!--<mvc:exclude-mapping path="/js/**" />-->
            <!--<mvc:exclude-mapping path="/datepicker/**" />-->

            <!-- 用户是否已经登录的检查bean -->
            <bean class="com.bjgoodwill.common.UserAuth"/>

        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 启动包扫描功能，以便注册带有@Controllers、@service、@repository、@Component等注解的类成为spring的bean -->
    <context:component-scan base-package="com.bjgoodwill.controller"/>
    <!--<bean id="mappingJacksonHttpMessageConverter"-->
          <!--class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">-->
        <!--<property name="supportedMediaTypes">-->
            <!--<list>-->
                <!--<value>text/html;charset=UTF-8</value>-->
                <!--<value>text/json;charset=UTF-8</value>-->
                <!--<value>application/json;charset=UTF-8</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->


    <!-- 对模型视图名称的解析，在请求时模型视图名称添加前后缀 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/"/>	<!-- 前缀 -->
        <property name="suffix" value=".jsp"/>	<!-- 后缀 -->
    </bean>

    <!-- 访问静态文件（jpg,js,css）的方法 -->
    <!--<mvc:resources location="/files/" mapping="/files/**" />-->
    <!--<mvc:resources location="/scripts/" mapping="/scripts/**" />-->
    <!--<mvc:resources location="/styles/" mapping="/styles/**" />-->
    <!--<mvc:resources location="/Views/" mapping="/Views/**" />-->

    <!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
    <!-- Dao接口所在包名，Spring会自动查找其下的类 -->


</beans>